In [24]:
import pandas as pd

df = pd.read_csv('country-list.csv')
df = df[["country", "capital"]]
df.columns = ["text", "response"]
df.head()

                    text             response
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers

In [13]:
df.sample(5, random_state=42)

,article,highlights
1516,Comedian Jenny Eclair travelled with her other...,The comedian stayed with Flavours who offer a ...
1393,A woman of Arab and Jewish descent who was str...,The federal government will give Shoshana Hebs...
10560,World No 1 Novak Djokovic has apologised to th...,Novak Djokovic beat Andy Murray 7-6 4-6 6-0 in...
11457,(CNN)ISIS on Wednesday released more than 200 ...,Most of those released were women and children...
647,Hillary Clinton’s security detail arrived at a...,"Second modified, armored van spotted near Des ..."

In [19]:
from datasets import load_dataset, Dataset

ds = load_dataset("qiaojin/PubMedQA", "pqa_labeled")

lst = []

for i in range(250):
    abstract = ds["train"][i]["context"]["contexts"]
    abstract = "\n".join(abstract)
    data_pair = {
        "question": f"""Question: {ds["train"][i]["question"]}\nAbstract: {abstract}""",
        "answer": ds["train"][i]["final_decision"]
    }
    lst.append(data_pair)
    
# Convert lst to dataframe
df = pd.DataFrame(lst)
df.head()

                                            question answer
0  Question: Do mitochondria play a role in remod...    yes
1  Question: Landolt C and snellen e acuity: diff...     no
2  Question: Syncope during bathing in infants, a...    yes
3  Question: Are the long-term results of the tra...     no
4  Question: Can tailored interventions increase ...    yes

In [21]:
Dataset.from_pandas(df)

Dataset({
    features: ['question', 'answer'],
    num_rows: 250
})